PORT=3000
SUPABASE_URL=https://cksqepudtmgyjzcnbicc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrc3FlcHVkdG1neWp6Y25iaWNjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzM1Nzg0OSwiZXhwIjoyMDk4OTMzODQ5fQ.QePVbkvxdCfnFAH0oRWUVAcsnXgHAXFIh5k2ovXsOl8
